<div class="add_map" class="col">
  <a href="#">
    <div class="card" style="width: 18rem;">
      <img src="stock-1.jpg" alt="...">
      <div class="card-body">
        <p class="card-text">Title</p>
      </div>
    </div>
    </a>
</div>


