<!DOCTYPE html>
<html lang="en">

<%- include('partials/header'); %>
<body >

  </body>
  <main class="map">
    <div class="container map_form">
      <div class="row">
        <div class="col map_form">
          <div id="map" style="height: 400px; width: 900px">

          </div>
        </div>
      </div>
    </div>
    <h3> CREATE A NEW MAP</h3>

    <form class= "form" method="POST" action="/createmap">
      <div class="form-group">
        <label for="exampleInputName1">Title</label>
        <input name="title" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter title">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input name="description" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter description">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Image URL</label>
        <input name="image_url" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter image url">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

</html>
