<!DOCTYPE html>
<html lang="en">

  <link
  rel="stylesheet"
  href="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.css"
/>
<script src="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.js"></script>
</head>
<%- include('partials/header'); %>
<body >

  </body>
  <main class="map">
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Load the `mapbox-gl-geocoder` plugin. -->
          <!-- <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script> -->
          <!-- <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css"> -->

          <!-- For the invisible map -->
          <div id="map" style="height: 600px;">
          <!-- For the search box -->
          <div id="search-box"></div>
          <!-- To display the result -->
          <div id="result"></div>
          </div>
        </div>
      </div>
    </div>


    <form class= "form" method="POST" action="/createmap">
      <h3> CREATE A NEW MAP</h3>
      <input name="long" type="hidden" class="form-control" id="long" aria-describedby="emailHelp" placeholder="Enter title">
      <input name="lat" type="hidden" class="form-control" id="lat" aria-describedby="emailHelp" placeholder="Enter title">

      <div class="form-group">
        <label for="exampleInputName1">Title</label>
        <input name="title" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter title">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Description</label>
        <input name="description" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter description">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Image URL</label>
        <input name="image_url" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter image url">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

</html>
