<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- mapbox  -->
    <!-- <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet"> -->
    <!-- <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script> -->

    <!-- Load geocoding plugin after Leaflet -->
    <link
      rel="stylesheet"
      href="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.css"
    />
    <script src="https://maps.locationiq.com/v2/libs/leaflet-geocoder/1.9.6/leaflet-geocoder-locationiq.min.js"></script>
  </head>

  <%- include('partials/header'); %>

  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Load the `mapbox-gl-geocoder` plugin. -->
          <!-- <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script> -->
          <!-- <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css"> -->

          <!-- For the invisible map -->
          <div id="map" style="height: 600px">
            <!-- For the search box -->
            <div id="search-box"></div>
            <!-- To display the result -->
            <div id="result"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
