<!DOCTYPE html>
<html lang="en">

  <%- include('partials/header'); %>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <!-- Load the `mapbox-gl-geocoder` plugin. -->
          <!-- <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script> -->
          <!-- <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css"> -->

          <!-- For the invisible map -->
          <div id="map" style="height: 700px; margin-top: 100px;">
            <!-- For the search box -->
            <div id="search-box"></div>
            <!-- To display the result -->
            <div id="result"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
